.card-img-top{
    width: 100%;
    height: 180px;   
}

.card{
    width: 250px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right:10px;
}

.card-text{
    font-size: 14px;
}

.filter-page{
    height: 750px;
    margin-top: 20px;
}

.product-list{
    background-color: #E6E6E6;
    margin-top: -20px;
}

.title-width{
    width: 200px;
}

.rate-room{
    border-radius: 20px;
    background-color: orange;
    size: 30px;
    padding: 5px;
    margin-bottom: 18px;
    font-weight: bolder;
    /* width: 55px; */
    float: left;
}

.rate-room-new{
    size: 30px;
    padding: 5px;
    margin-bottom: 18px;
    font-weight: bolder;
    width: 70px;
    float: right;
}

.d-flex-home{
    width: 230px;
    margin-left: 20px;
    /* background-color: orangered; */
}

.d-flex-default{
    margin-left: 25px;
}

.side-menu-text{
    margin-bottom: 10px;
}

.d-flex{
    margin-top: 20px;
}

.main-title-text{
margin-top: 50px;
}


.input-group{
    margin-top: 10px;
    width: 500px;
}

.mr-auto{
    margin-left:75%;
}

.float-right{
    margin-top: 10px;
    margin-left: 80%;
}

.navbar-brand{
    margin-left:20px;
    font-size: 30px;
}


